@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Assistant&display=swap');

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Assistant', sans-serif;
    margin: 0;
}
